@font-face {
    font-family: "urbanist";
    src: url(../fonts/Urbanist-Black.ttf);
}
@font-face {
    font-family: "urbanist-bold";
    src: url(..//fonts/Urbanist-Bold.ttf);
}
@font-face {
    font-family: "urbanist-medium";
    src: url(../fonts/Urbanist-Medium.ttf);
}
@font-face {
    font-family: "urbanist-light";
    src: url(../fonts/Urbanist-Light.ttf);
}
@font-face {
    font-family: "urbanist-extrabold";
    src: url(../fonts/Urbanist-ExtraBold.ttf);
}
@font-face {
    font-family: "urbanist-semibold";
    src: url(../fonts/Urbanist-SemiBold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "urbanist";
}
header{
    background-color:#1A3129;
    display: flex;
    flex-direction: column; 
    gap: 3vw;
    align-items: center;
}
.top-banner{
    display: flex;
    background-color: #2C5446;
    color: white;
    align-items: center;
    width: 80vw;
    justify-content: center;
}
.top-banner-inside{
    display: flex;
    font-family: "urbanist-light";
    justify-content: center;
}
.navigation{
    display: flex;  
    align-items: center;
    justify-content: space-around;
    width: 110vw;
    margin-bottom: 2vw;
}
.nav-left{
    display: flex;
}
.logo{
    justify-content: flex-start;
}
.nav-right{
    display: flex;
    gap: 4em;
    align-items: center;
}
.nav-right ul{
    display: flex;
    list-style-type: none;
    gap: 2em;
}
a{
    text-decoration: none;
    color: white;
    font-family: "urbanist-light";
}
.contact-button{
    background-color: #CBEA7B;
    color: black;
    font-family: "urbanist-medium";
    padding: 15px;
    border-radius: 8px;
    border-style: none;
}
.personalized{
    padding: 15px;
}
.transform{
    padding: 10px;
}
.welcome{
    font-family: "urbanist-light";
    ;
}

/* end of the header, start of main------------------------------------ */

.main-section{
    display: flex;
    background-color: #FAFDF2;
}
.main-left{
    display: flex;
}
.model{
    max-width: 95%;
    max-height: 95%;
    width: 80vw;
}
.main-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    
}
.main-right-first{
    display: flex;
    flex-direction: column;

}
.main-right-last{
    display: flex;
}
.welcome{
    font-family: "ubuntu-light";
    margin-top: 2rem;
    font-size: 1rem;
    min-width: 50%;
}
.starter-today{
    font-size: 1.0rem;
    padding: 10px;
    background-color: #CBEA7B;
    border-style: none;
    border-radius: 10px;

}
.book-demo{
    font-size: 1.0rem;
    padding: 10px;
    margin-left: 0.5rem;
    border-color: #CBEA7B;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}
.review{
    max-width: 60%;
    max-height: 80%;
}
.transform{
    text-decoration: underline #CBEA7B;
    text-underline-offset: 5px;
}
/* the first main part ends and feature section starts */
/* .grid-container{
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
}
.one{
    grid-area: a;
} */

/* .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-family: "urbanist-light";
} */
.grid-container{
    display: grid;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    gap: 4em;
    font-family: "urbanist-light";
    padding: 4em;
    background-color: #FAFDF2;
}
.feature-left{
    display: grid;
    background-color: #F6FBE9;
    padding: 15px;
    gap: 2em;
}
.feature-right{
    display: grid;
    background-color: #F6FBE9 ;
    padding: 15px;
    gap: 2em;
}
.iconis{
    background-color: #E5F5BD;
}
.intro-main{
    text-align: center;
    margin-top: 2em;
    font-family: "urbanist-list";
    font-size: 2em;
}
.intro-main-two{
    text-align: center;
    padding: 1em;
    font-size: 0.8em;
    font-family: "urbanist-light";
}
/* hier ends the second main and the form section starts */

.forms{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #FAFDF2;
}
.body-length{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.age{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gender-klick{
    display: flex;
    align-items: center;
}
.test{
    text-align: center;
}
.test-text{
    text-align: center;
    font-family: "urbanist-light";
    margin-bottom: 5em;
}
.last-section{
    background-color: #FAFDF2;
}
.main{
    background-color: #FAFDF2;
}
